DATABASE_URL="postgresql://USER:PASSWORD@YOUR-NEON-ENDPOINT-pooler.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@YOUR-NEON-ENDPOINT.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

SESSION_SECRET="ganti-dengan-random-secret-yang-panjang"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

CASHIER_NAME="Kasir Utama"
CASHIER_EMAIL="kasir@example.com"
CASHIER_USERNAME="kasir"
CASHIER_PASSWORD="kasir123"
