DATABASE_URL="file:./dev.db"
SESSION_SECRET="ganti-dengan-secret-random-yang-panjang"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

CASHIER_NAME="Kasir Utama"
CASHIER_EMAIL="kasir@example.com"
CASHIER_USERNAME="kasir"
CASHIER_PASSWORD="kasir123"
